/* Figma Styles of your File */
:root {
  /* Colors */
  /* Fonts */
  --body-text-font-family: Sora-Regular, sans-serif;
  --body-text-font-size: 64px;
  --body-text-line-height: normal;
  --body-text-font-weight: 400;
  --body-text-font-style: normal;
  --regular-font-family: Sora-Regular, sans-serif;
  --regular-font-size: 24px;
  --regular-line-height: normal;
  --regular-font-weight: 400;
  --regular-font-style: normal;

  /* Effects */
}
/* Figma Color Variables of your File */
